#!/bin/bash
# Script that starts LogTool execution on Undercloud

if [ ! -e /home/stack/LogTool ]; then
  git clone https://github.com/zahlabut/LogTool.git
else
  cd LogTool;git pull
fi
cd /home/stack/LogTool/Plugin_For_Infrared_Python2
which python
which python2
which python3
python -v
python -m unittest LogTool_Plugin